body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.card-body {
  background-color: #3AB6EC;
  padding: 10px;
  border-radius: 15px;
  min-width: 10em;
}

.card-body p{
  color: white;
  font-size: 16px;
}

.a{
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.a h6{
  color: #818990;
  font-size: 12px;
}

.a img{
  width: 15px;
  height: 15px;
}

.form-group 
{
  box-shadow: 0px -4px 8px rgba(0, 125, 241, 0.12);
 display: flex;
}

.form-group textarea{
  border-radius: 15px;
  background: #F1FAFE;
  border-color: #3AB6EC;
  border-width: 3px;
  max-height: 100px;
}

.formIcons svg{
  height: 1.8em;
  color: #3AB6EC;
}

.headerIconsL svg{
  height: 2.5em;
  color: #3AB6EC;
}

.headerIconsL img{
  border-radius: 25px;
  border-color: #3AB6EC;
  height: 2.5em;
  width: 2.5em;
}

.headerIconsR svg{
  height: 2.5em;
  color: #F94241;
}

.cb{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cb h1{
  font-size: 20px;
}
.cb p{
  font-size: 15px;
}

.navbar{
  border-bottom: 1px solid #D8F0FB;
box-shadow: 0px 4px 4px rgba(0, 92, 176, 0.05);
background-color: #FFFFFF;
}
.header{
  margin-bottom: 6em;
}
.FormMessage{
  margin-top: 5em;
}
.form-floating input {
  border-radius: 15px;
  background: #F1FAFE;
  border-color: #3AB6EC;
  border-width: 2px;
  width: 20em;
}

.login-wrapper h1 {
  font-weight: bolder;
}

.btn {
  background: #5D3FAF;
  width: 10em;
  border-radius: 15px;
}

.logo {
  display: flex;
  justify-content: center;
  margin: 6em;
}

.logo img {
  width: 25em;
}
.card_img{
  min-width: 5em;
  min-height: 5em;
}
.card_img img{
  width: max-content;
  height: 5em;
}